.matrix {
	width:100%;
	overflow:visible;
	clear:both;
	min-height:100px;
}
.heatmap {
	width:100%;
	overflow:visible;
	
	h2 {
		@include fs-headline(2);		
	}
	

	.legend {
		float:right;
		height:85px;
		//margin-left:80px;
		/*@include mq(tablet) {
			margin-left:10px;
		}*/
		margin-top:20px;


		$li_h:24px;
		$li_h_t:29px;
		
		margin-right: 0;
		@include mq(tablet) {
			margin-right:$li_h;
		}

		div.titles {
			&,* {
				box-sizing: border-box;
			}
			width:100%;
			/*@include mq(tablet) {
				width:85px;
				height: 100%;
				float:left;
			}*/
			span {
				@include fs-textSans(1);
				font-size:11px;
				@include mq(tablet) {
					font-size:12px;
				}
				display: inline-block;
				color:#767676;
				width:50%;
				margin:0 auto;
				padding:0;
				//width: $li_h*4;
				&:first-child {
					padding-left:0;
					border-right:1px solid #bdbdbd;
					width:calc(50% + 1px);
				}
				&:last-child {
					text-align: right;
					padding-right:0;
					float:right;
					width:calc(50% - 1px);
				}
				/*@include mq(tablet) {
					height:79px;
					border-right:1px dotted #767676;
					text-align: right;
					margin:0 5px 3px 0;
					padding-top:25px;
					padding-right:5px;
					width:auto;
					padding-left:0;
					&:first-child {
						padding-left:0;
					}
					&:last-child {
						text-align: right;
						padding-left:0;
						padding-right:5px;
					}
				}*/
			}
		}
		ul {
			list-style-type: none;
			overflow:visible;
			padding-left:0;
			margin:0;
			/*@include mq(tablet) {
				overflow:hidden;
			}*/
			li {
				float:left;
				
				width:$li_h;
				height:$li_h+6;
				display: block;
				overflow:visible;
				position:relative;
				/*@include mq(tablet) {
					
					float:none;
					width:75px;
					height:$li_h_t;
				}*/

				
				&.middle {
					//margin-right:2px;
					border-right:1px solid #bdbdbd;
					/*@include mq(tablet) {
						margin-right:0px;
						margin-bottom:2px;
					}*/
				}
				span {
					float:left;
					position:relative;
					display: inline-block;
					width:$li_h;
					height:$li_h;
					/*@include mq(tablet) {
						width:$li_h_t;
						height:$li_h_t;
					}*/
				}
				b {
					@include fs-textSans(1);

					font-size:11px;
					@include mq(tablet) {
						font-size:12px;
					}
					float:left;
					display: inline-block;
					position:absolute;
					height:$li_h;
					line-height: $li_h;
					top: $li_h;
    				left: 0;
					/*@include mq(tablet) {
						top:0;
						left:$li_h_t;
						line-height:$li_h_t;
						height:$li_h_t;
					}*/
					font-weight:normal;
					//margin-left:5px;
					color:#767676;
					padding:0;
					&.middle {
						left:9px;
						/*@include mq(tablet) {
							margin-top:10px;
						}*/
					}
					
					
				}
				&:last-child b {
					right: 0;
    				left: auto;
				}
				&:before {
					display: none;
				}
			}
		}
	}
	table {
		float:left;
		border-collapse: separate;
    	border-spacing: 0;
    	width:auto;
		@include fs-textSans(1);
		
		$h:35px;
		$h_t:40px;
		
		thead {
			tr {
				th {
					font-size:14px;
					@include mq(tablet) {
						font-size: 16px;
					}
					text-align: center;
					font-weight: normal;
					color:#767676;
					padding:0;
				}
			}
		}
    	tr {
    		display: block;
    		overflow: visible;
    		th {
				text-align: left;
				padding:0;
				padding-right:1px;
				font-size:11px;
				font-weight: normal;
				@include mq(tablet) {
					font-size: 13px;
				}
    		}
    		td {
    			display: block;
    			float:left;
				text-align: right;
				padding:0;
				background-color:#fff !important;
				div {
					position: relative;
					overflow:visible;
					width:$h;
					height:$h;
					font-size:9px;
					margin:1px;
					padding:0px;
					border-radius:2px;
					cursor: default;
					b {
						display: block;
						font-size:12px;
					    height: inherit;
					    
					    line-height: $h;
					    width: inherit;
					    font-weight: 200;
					    text-align: center;
					    opacity: 0.4;
					    color:#fff;
					    span {
					    	font-size:60%;
					    }
					    
					    &:hover {
					    	opacity: 1;
					    }
					}
					@include mq(tablet) {
						width:$h_t;
						height:$h_t;
						b {
							font-size:14px;
							line-height: $h_t;
						}
					}
					&.nd {
						background-color: transparent !important;
					}
					.tiny-chart {
						visibility: hidden;
						pointer-events: none;
						z-index:999;

						-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
						box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);

						position: absolute;
						top:$h+2;
						left:0;
						@include mq(tablet) {
							top:0px;
							left:calc(100% + 10px);
						}
						
						width:190px;
						height:150px;

						p {
							@include fs-textSans(1);
							margin:0;
							padding:5px 5px 0;


							font-size:13px;
							line-height: 13px;
							text-align:left;
							min-height: 60px;
						}

						&.right {
							left:calc(-190px + 40px);
							@include mq(tablet) {
								left:calc(-190px - 10px);
							}
						}
					}
					&:hover {
						.tiny-chart {
							visibility: visible;
							
						}
					}
				}
				
    		}
    	}
	}
	.tiny-chart {
		
		
		background-color:#fff;
		margin: 0;
    	padding: 0;
		svg {
			width:100%;
			height:100%;
			

			line {
				stroke:#ddd;
				stroke-width:1;
				shape-rendering: crispEdges;

				&.actual {
					stroke:#aaa;
					stroke-dasharray:1,1;
				}

				&.gnm {
					stroke:#005689;
				}
				&.mean {
					stroke:#951c55;
				}

				&.connecting {
					shape-rendering: geometricPrecision;
				}
			}
			path.connecting {
				fill-opacity:0.5;
				&.gnm {
					fill:#005689;
				}
				&.mean {
					fill:#951c55;
				}
			}
			circle {
				stroke:none;
				&.gnm {
					fill:#005689;
				}
				&.mean {
					fill:#951c55;
				}
			}

			text {
				font-size:10px;
				fill:#767676;
				&.mean {
					text-anchor:end;
				}
				&.actual {
					text-anchor:middle;
				}
				&.gnm {
					text-anchor:start;
				}
				&.header {
					text-anchor:middle;
				}
			}

		}
	}
	
}