.questions {
	clear:both;
	min-height:50vh;
	.question {
		margin-bottom:50px;
		p {
			i {
				font-style: normal;
				color:#767676;
			}
		}

		ul {
			list-style: none;
			margin:0;
			padding:0;
			li {
				overflow:hidden;
				$h:17px;
				h3 {
					@include fs-textSans(1);
					font-weight: normal;
					display: block;
					line-height: $h;
					width:75px;
					float:left;
					margin:0;
					padding:0;
				}

				div.chart {
					float:left;
					width:50%;
					height:$h;
					
					@import "chart";

				}

				span.diff {
					@include fs-textSans(1);
					font-weight: normal;
					display: block;
					width:40px;
					text-align: right;
					float:left;
					line-height: $h;
					margin:0 5px;
					opacity:0.5;
					&.mean {
						color:#951c55;
					}
					&.gnm {
						color:#005689;
					}
					&.better {
						font-weight: bold;
						margin-top:-1px;
						opacity:1;
					}
				}

				span.num {
					@include fs-textSans(1);
					font-weight: normal;
					display: block;
					float:left;
					line-height: $h;
					margin-left:20px;
					width:60px;
					text-align: right;
					color:#888;
					
				}
			}
		}
		
	}
}